Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/StarterContent/HDRI
Content/StarterContent
Content/Main/Assets/Man
Content/Main/Assets/StarterBundle
Content/Main/Characters
Content/Main/Weapons
Content/Main/Polar
Content/Polar
Content/Audio
Content/Effects

.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace